<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="stackExchange.precompiler" type="StackExchange.Precompilation.PrecompilerSection, StackExchange.Precompilation.Metaprogramming" />
  </configSections>
  <stackExchange.precompiler>
    <modules>
      <add type="CsDerive.DeriveConstructorProcessor, CsDerive" />
    </modules>
  </stackExchange.precompiler>
</configuration>